.contenedor{
    display: grid;
    grid-template-columns: 500px 1500px;
    grid-template-rows: 250px 800px 100px;
    grid-template-areas: 
    ' baner baner'
    'fc  pq'
    ' pie pie'
    ;
}
.bn{
    grid-area: baner;
    color: black;
    text-align: center;
    font-size: 70px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.fc{
    grid-area: fc;
    background-color:darkcyan;
    color: black;
    text-align: center;
    font-size: 40px;
    
  
}
a{
    text-decoration: none;
    color: black;
}
.pq{
    grid-area: pq;
    background-color:paleturquoise ;
    color: black;
    text-align: center;
    font-size: 25px;
    


}


.pie{
    grid-area: pie;
    background-color:darksalmon;
    color: black;
    text-align: center;
    font-size: 25px;
}
img{
    height: 800px;
    width: 400px;
    justify-content: center;
}
iframe{
height: 500px;
width: 500px;
justify-content: center;
}
#img{
    height: 500px;
    width: 435px;
}
#img3{
    height: 1000px;
    width: 2000px;
}